<div class="dropdown dropdown-b" data-toggle="tooltip" title="Notifications">
    <a href="" class="header-notification" data-toggle="dropdown">
       <i class="icon ion-ios-bell-outline"></i>
       <span class="indicator"></span>
    </a>
    <div class="dropdown-menu">
       <div class="dropdown-menu-header">
          <h6 class="dropdown-menu-title">Notifications</h6>
          <div>
             <a href="">Mark All as Read</a>
             <a href="">Settings</a>
          </div>
       </div><!-- dropdown-menu-header -->
       <div class="dropdown-list">
          <a href="" class="dropdown-link">
             <div class="media">
                <img src="/img/logo-short.png" alt="">
                <div class="media-body">
                   <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                   <span>October 02, 2017 12:44am</span>
                </div>
             </div><!-- media -->
          </a>
          <a href="" class="dropdown-link read">
             <div class="media">
                <img src="/img/logo-short.png" alt="">
                <div class="media-body">
                   <p><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                   <span>October 01, 2017 6:08pm</span>
                </div>
             </div><!-- media -->
          </a>
          <div class="dropdown-list-footer">
             <a href="javascript:;"><i class="fa fa-angle-down"></i> Show All Notifications</a>
          </div>
       </div><!-- dropdown-list -->
    </div><!-- dropdown-menu-right -->
 </div>