<div class="slim-sidebar">
    <label class="sidebar-label">Navigation</label>

    <ul class="nav nav-sidebar">
        <li class="sidebar-nav-item">
            <a href="{{ path('dashboard_index') }}" class="sidebar-nav-link {% if menu == 'dashboard' %}active{% endif %}">
                <i class="icon ion-ios-home-outline"></i>&nbsp;&nbsp;Dashboard</a>
        </li>
        <li class="sidebar-nav-item with-sub">
            <a href="javascript:;" class="sidebar-nav-link {% if menu == 'content' %}active{% endif %}">
                <i class="fa fa-sitemap"></i>&nbsp;&nbsp;Contenido</a>
            <ul class="nav sidebar-nav-sub">
                <li class="nav-sub-item">
                    <a href="{{ path('content_faq_index') }}" class="nav-sub-link {% if submenu == 'faq' %}active{% endif %}">&nbsp;&nbsp;Faqs</a>
                </li>
                <li class="nav-sub-item">
                    <a href="{{ path('content_video_index') }}" class="nav-sub-link {% if submenu == 'video' %}active{% endif %}">&nbsp;&nbsp;Videos</a>
                </li>
            </li>
        </li>
    </ul>
</li></ul></div>
